
 .aboutus{	
  padding-left:10px;
  padding-bottom:80px;
	}
   header{
    background-color:blue;
	color:floralwhite;
    }
 .footer{
	background-color:#9975CD;
	padding:13px;
	color:floralwhite;
	}
 .row-header{
	  padding-left:20px;
	  color:floralwhite;
 }
 body{
	 padding-top:30px;
	 z-index:0;
 }
 .navbar-nav{
	 padding-bottom:0px;
 }
