
 .aboutus{	
  padding-left:10px;
  padding-bottom:80px;
	}
   .jumbotron{
    background-color:#9975CD;
	color:floralwhite;
    }
 .footer{
	background-color:#9975CD;
	padding:13px;
	color:floralwhite;
	}
 .row-header{
	  padding-left:20px;
	  color:floralwhite;
 }
.tab-content {
    border-left: 1px solid #ddd;
 border-right: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
    padding: 10px;
}